image: webhippie/minio:2018-07-13
manifests:
  -
    image: webhippie/minio:2018-07-13-amd64
    platform:
      architecture: amd64
      os: linux
  -
    image: webhippie/minio:2018-07-13-arm64v8
    platform:
      architecture: arm64
      os: linux
      variant: v8
  -
    image: webhippie/minio:2018-07-13-arm32v6
    platform:
      architecture: arm
      os: linux
      variant: v6
