{
  "version": "{{ getenv "MINIO_VERSION" }}",
  "credential": {
    "accessKey": "{{ getenv "MINIO_ACCESS_KEY" }}",
    "secretKey": "{{ getenv "MINIO_SECRET_KEY" }}"
  },
  "region": "{{ getenv "MINIO_REGION" }}",
  "browser": "{{ getenv "MINIO_BROWSER" }}",
  "worm": "{{ getenv "MINIO_WORM" }}",
  "domain": "{{ getenv "MINIO_DOMAIN" }}",
  "storageclass": {
    "standard": "{{ getenv "MINIO_STORAGECLASS_STANDARD" }}",
    "rrs": "{{ getenv "MINIO_STORAGECLASS_RRS" }}"
  },
  "notify": {
    "amqp": {
      "1": {
        "enable": {{ getenv "MINIO_AMQP_ENABLE" }},
        "url": "{{ getenv "MINIO_AMQP_URL" }}",
        "exchange": "{{ getenv "MINIO_AMQP_EXCHANGE" }}",
        "routingKey": "{{ getenv "MINIO_AMQP_ROUTING_KEY" }}",
        "exchangeType": "{{ getenv "MINIO_AMQP_EXCHANGE_TYPE" }}",
        "deliveryMode": {{ getenv "MINIO_AMQP_DELIVERY_MODE" }},
        "mandatory": {{ getenv "MINIO_AMQP_MANDATORY" }},
        "immediate": {{ getenv "MINIO_AMQP_IMMEDIATE" }},
        "durable": {{ getenv "MINIO_AMQP_DURABLE" }},
        "internal": {{ getenv "MINIO_AMQP_INTERNAL" }},
        "noWait": {{ getenv "MINIO_AMQP_NO_WAIT" }},
        "autoDeleted": {{ getenv "MINIO_AMQP_AUTO_DELETED" }}
      }
    },
    "nats": {
      "1": {
        "enable": {{ getenv "MINIO_NATS_ENABLE" }},
        "address": "{{ getenv "MINIO_NATS_ADDRESS" }}",
        "subject": "{{ getenv "MINIO_NATS_SUBJECT" }}",
        "username": "{{ getenv "MINIO_NATS_USERNAME" }}",
        "password": "{{ getenv "MINIO_NATS_PASSWORD" }}",
        "token": "{{ getenv "MINIO_NATS_TOKEN" }}",
        "secure": {{ getenv "MINIO_NATS_SECURE" }},
        "pingInterval": {{ getenv "MINIO_NATS_PING_INTERVAL" }},
        "streaming": {
          "enable": {{ getenv "MINIO_NATS_STREAMING_ENABLE" }},
          "clusterID": "{{ getenv "MINIO_NATS_STREAMING_CLUSTER_ID" }}",
          "clientID": "{{ getenv "MINIO_NATS_STREAMING_CLIENT_ID" }}",
          "async": {{ getenv "MINIO_NATS_STREAMING_ASYNC" }},
          "maxPubAcksInflight": {{ getenv "MINIO_NATS_STREAMING_MAX_PUBACK_INFLIGHT" }}
        }
      }
    },
    "elasticsearch": {
      "1": {
        "enable": {{ getenv "MINIO_ELASTICSEARCH_ENABLE" }},
        "format": "{{ getenv "MINIO_ELASTICSEARCH_FORMAT" }}",
        "url": "{{ getenv "MINIO_ELASTICSEARCH_URL" }}",
        "index": "{{ getenv "MINIO_ELASTICSEARCH_INDEX" }}"
      }
    },
    "redis": {
      "1": {
        "enable": {{ getenv "MINIO_REDIS_ENABLE" }},
        "format": "{{ getenv "MINIO_REDIS_FORMAT" }}",
        "address": "{{ getenv "MINIO_REDIS_ADDRESS" }}",
        "password": "{{ getenv "MINIO_REDIS_PASSWORD" }}",
        "key": "{{ getenv "MINIO_REDIS_KEY" }}"
      }
    },
    "postgresql": {
      "1": {
        "enable": {{ getenv "MINIO_POSTGRESQL_ENABLE" }},
        "format": "{{ getenv "MINIO_POSTGRESQL_FORMAT" }}",
        "connectionString": "{{ getenv "MINIO_POSTGRESQL_CONNECTION_STRING" }}",
        "table": "{{ getenv "MINIO_POSTGRESQL_TABLE" }}",
        "host": "{{ getenv "MINIO_POSTGRESQL_HOST" }}",
        "port": "{{ getenv "MINIO_POSTGRESQL_PORT" }}",
        "user": "{{ getenv "MINIO_POSTGRESQL_USER" }}",
        "password": "{{ getenv "MINIO_POSTGRESQL_PASSWORD" }}",
        "database": "{{ getenv "MINIO_POSTGRESQL_DATABASE" }}"
      }
    },
    "kafka": {
      "1": {
        "enable": {{ getenv "MINIO_KAFKA_ENABLE" }},
        "brokers": null,
        "topic": "{{ getenv "MINIO_KAFKA_TOPIC" }}"
      }
    },
    "webhook": {
      "1": {
        "enable": {{ getenv "MINIO_WEBHOOK_ENABLE" }},
        "endpoint": "{{ getenv "MINIO_WEBHOOK_ENDPOINT" }}"
      }
    },
    "mysql": {
      "1": {
        "enable": {{ getenv "MINIO_MYSQL_ENABLE" }},
        "format": "{{ getenv "MINIO_MYSQL_FORMAT" }}",
        "dsnString": "{{ getenv "MINIO_MYSQL_DNS_STRING" }}",
        "table": "{{ getenv "MINIO_MYSQL_TABLE" }}",
        "host": "{{ getenv "MINIO_MYSQL_HOST" }}",
        "port": "{{ getenv "MINIO_MYSQL_PORT" }}",
        "user": "{{ getenv "MINIO_MYSQL_USER" }}",
        "password": "{{ getenv "MINIO_MYSQL_PASSWORD" }}",
        "database": "{{ getenv "MINIO_MYSQL_DATABASE" }}"
      }
    },
    "mqtt": {
      "1": {
        "enable": {{ getenv "MINIO_MQTT_ENABLE" }},
        "broker": "{{ getenv "MINIO_MQTT_BROKER" }}",
        "topic": "{{ getenv "MINIO_MQTT_TOPIC" }}",
        "qos": {{ getenv "MINIO_MQTT_QOS" }},
        "clientId": "{{ getenv "MINIO_MQTT_CLIENT_ID" }}",
        "username": "{{ getenv "MINIO_MQTT_USERNAME" }}",
        "password": "{{ getenv "MINIO_MQTT_PASSWORD" }}",
        "reconnectInterval": {{ getenv "MINIO_MQTT_RECONNECT_INTERVAL" }},
        "keepAliveInterval": {{ getenv "MINIO_MQTT_KEEPALIVE_INTERVAL" }}
      }
    }
  }
}
